
input {
  margin: 8px 0;
}

a {
  color: orange;
  text-decoration: underline;
}

.btn-info.disabled, .btn-info:disabled {
  color: #fff;
  background-color: #9e9e9e;
  border-color: #9e9e9e;
}

#add-account-btn {
  margin-top: 1rem;
}
